@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    background: #fff;
}

::-webkit-scrollbar button {
    background: gold;
}

::-webkit-scrollbar-thumb {
    background: #fff
}

::-webkit-scrollbar-track {
    background: red;
}

::-webkit-scrollbar-track-piece {
    background: royalblue;
}

.white-nav {
    background: rgb(7, 28, 95);
    background: royalblue
}

.prog-cont:hover .prog-div {
    width: 100%;
    transform: translateX(0);
    background: rgb(7, 28, 95);
}

.prog-cont:hover .prog-gold {
    background: rgb(255, 215, 0);
}

.tender-show {
    animation: alert ease-out .9s infinite;
}

@keyframes alert {
    0% {
        opacity: 1
    }
 
    100% {
        opacity: 0
    }
}

.e-registrar {
    margin-top: 56px;
}

.portal-sidebar {
    background: goldenrod;
    min-height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 50;
}

.portal-sidebar-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 80px;
}

.portal-sidebar-list .link {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    padding-left: 20px;
    color: #fff;
    font-weight: 500;
    /* background: rgba(0, 0, 0, 0.084); */
    transition: all .5s
}

.portal-sidebar-list .link:hover {
    background: rgba(0, 0, 0, .05)
}

.portal-sidebar-list .link span {
    transition: all .5s
}

.portal-sidebar-list .link:hover span{
    color: rgba(0, 0, 0, 0.3); 
}

.portal-sidebar-list img {
    width: 20px;
}

.portal-sidebar-list svg {
    width: 18px;
    height: 20px;
    color: #dbdbdb;
}