@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    background: #fff;
}

::-webkit-scrollbar button {
    background: gold;
}

::-webkit-scrollbar-thumb {
    background: #fff
}

::-webkit-scrollbar-track {
    background: red;
}

::-webkit-scrollbar-track-piece {
    background: royalblue;
}

.white-nav {
    background: rgb(7, 28, 95);
    background: royalblue
}

.prog-cont:hover .prog-div {
    width: 100%;
    transform: translateX(0);
    background: rgb(7, 28, 95);
}

.prog-cont:hover .prog-gold {
    background: rgb(255, 215, 0);
}

.tender-show {
    animation: alert ease-out .9s infinite;
}

@keyframes alert {
    0% {
        opacity: 1
    }
 
    100% {
        opacity: 0
    }
}

.e-registrar {
    margin-top: 56px;
}

.portal-sidebar {
    background: goldenrod;
    min-height: 100vh;
    overflow-y: auto;
    width: 60px;
    max-width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 50;
    transition: all .5s;
}

.portal-sidebar.open {
    width: 300px
}

.portal-sidebar-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 80px;
}

.portal-sidebar-list .dropdown-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    padding-left: 20px;
    color: #fff;
    font-weight: 500;
    /* background: rgba(0, 0, 0, 0.084); */
    transition: all .5s;
    flex: 1;
}

.portal-sidebar-list .dropdown-main:hover,
.portal-sidebar-list .dropdown-header:hover {
    background: rgba(0, 0, 0, .05)
}

.portal-sidebar-list .dropdown-header .dropdown-span {
    transition: all .6s;
}

.portal-sidebar:not(.open) .dropdown-span {
    display: none;
}

.portal-sidebar:not(.open) .chevron {
    display: none;
}

.portal-sidebar-list .dropdown-header:hover span{
    color: rgba(0, 0, 0, 0.3); 
}

.portal-sidebar-list img {
    width: 20px;
}

.portal-sidebar:not(.open) .portal-sidebar-list img {
    width: 30px;
}

.portal-sidebar-list svg {
    width: 18px;
    height: 20px;
    margin-right: 10px;
    color: #dbdbdb;
}

.portal-sidebar:not(.open) .portal-sidebar-list .svg {
    width: 30px;
}

.portal-sidebar::-webkit-scrollbar {
    background: #fff;
}

.portal-sidebar::-webkit-scrollbar button {
    background: #fff;
}

.portal-sidebar::-webkit-scrollbar-thumb {
    background: goldenrod
}

.portal-sidebar::-webkit-scrollbar-track {
    background: red;
}

.portal-sidebar::-webkit-scrollbar-track-piece {
    background: royalblue;
}

.profile-ul {
    display: none;
}

.profile-body:hover .profile-ul {
    display: block;
}

.profile-cont {
    background:linear-gradient(rgba(0,0, 0, .5), rgba(0, 0, 0, .5)), url("../public/school-of-business-logo.webp");
    height: 35vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.profile-cont h1 {
    font-size: 2rem;
    font-weight: 500;
}

.profile-cont p {
    color: #ccc
}

.profile-cont .link {
    color: rgb(81, 81, 81)
}

.icon-hr {
    display: flex;
    flex-direction: column;
}

.hero {
    background: url('./public/Princeton header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}